# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Vendas-notebook.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Pedro\RiderProjects\Vendas-notebook\.idea\.idea.Vendas-notebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
